.homepage {
    background-color: #13072E;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero {
    text-align: center;
    padding: 20px;
  }
  .hero .container {
    border-radius: 15px;
    background: linear-gradient(135deg, #13072E,#3f2182 );
    max-width: 1400px; 
    width: 95%; 
    max-height: 600px; 
    height: 80vh; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden; 
    position: relative; 
    margin: 0 auto;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .text-content {
    flex: 1;
    text-align: left; 
  }
  .image-content {
    flex: 1;
    text-align: center; 
  }
  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .btn {
    background-color: #ffffff;
    color: #13072E;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #ff6600;
    color: #ffffff;
  }
  .hero-image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
  }
  .animated-span {
    font-size: 55px;
    color: #ff6600;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: type 5s steps(30, end) infinite;
    border-right: 2px solid white;
  }

  @keyframes type {
    from { width: 0; }
    to { width: 100%; }
  }
  
  