.navbar {
  background-color: #13072E;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-logo {
  flex: 1; 
  display: flex;
  margin-left: 40px;
  align-items: center; 
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}
.animated-span {
  display: inline-block;
  animation: readingAnimation 2s infinite;
}

@keyframes readingAnimation {
  0%, 100% { 
    color: white;
  }
  50% { 
    color: #ff6600;
  }
}
.nav-item {
  color: white;
  text-align: center;
  border-radius: 25px;
  margin-right: 10px;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-item:hover {
  border-radius: 25px;
  background-color: #575757;
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .nav-content {
    position: fixed;
    top: 0;
    right: 0;
    height: 250px;
    width: 250px;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
  }
  .nav-content.open {
    transform: translateX(0);
  }
  .nav-item {
    width: 50px;
    text-align: center;
    padding: 20px;
  }
}
